.social {
    &__list {
        display: flex;

        li {
            a {
                display: inline-flex;
                text-decoration: none;
                margin: 0 15px 0 0;
                transition: all .3s ease-in-out;
            }
        }
    }
}